In [64]:
 import pymongo

In [65]:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [66]:
 print(myclient.list_database_names())

['admin', 'config', 'local', 'movielens']

In [67]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

In [69]:
 print(mydb.list_collection_names())

[]

In [70]:
#Create a collection called "customers":

mycol = mydb["customers"]
print(mydb.list_collection_names())

[]

In [71]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

In [72]:
#Insert a record in the "customers" collection:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [73]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5bf0ec6415d8825ac3eb9c4a'), 'name': 'John', 'address': 'Highway 37'}

In [74]:
 print(myclient.list_database_names())

['admin', 'config', 'local', 'movielens', 'mydatabase']

In [75]:
print(mydb.list_collection_names())

['customers']

In [54]:
#Insert another record in the "customers" collection, and return the value of the _id field:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5bf0ebd615d8825ac3eb9c3a

In [55]:
#Insert Multiple Documents
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [56]:
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5bf0ebd815d8825ac3eb9c3b'), ObjectId('5bf0ebd815d8825ac3eb9c3c'), ObjectId('5bf0ebd815d8825ac3eb9c3d'), ObjectId('5bf0ebd815d8825ac3eb9c3e'), ObjectId('5bf0ebd815d8825ac3eb9c3f'), ObjectId('5bf0ebd815d8825ac3eb9c40'), ObjectId('5bf0ebd815d8825ac3eb9c41'), ObjectId('5bf0ebd815d8825ac3eb9c42'), ObjectId('5bf0ebd815d8825ac3eb9c43'), ObjectId('5bf0ebd815d8825ac3eb9c44'), ObjectId('5bf0ebd815d8825ac3eb9c45'), ObjectId('5bf0ebd815d8825ac3eb9c46')]

In [57]:
#Find the first document in the customers collection:
x = mycol.find_one()

print(x)

{'_id': ObjectId('5bf0ebd515d8825ac3eb9c39'), 'name': 'John', 'address': 'Highway 37'}

In [58]:
#Return all documents in the "customers" collection, and print each document:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5bf0ebd515d8825ac3eb9c39'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0ebd615d8825ac3eb9c3a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c3b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c3c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c3d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c3e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c3f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c40'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c41'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c42'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c43'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c44'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c45'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bf0ebd815d8825ac3eb9c46'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
#Return only the names and addresses, not the _ids:

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'Minnie', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [32]:
#This example will exclude "address" from the result:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5befdfbe15d882727bcc31df'), 'name': 'Minnie'}
{'_id': ObjectId('5bf0eaca15d8825ac3eb9c28'), 'name': 'John'}
{'_id': ObjectId('5bf0eb5315d8825ac3eb9c2a'), 'name': 'John'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2b'), 'name': 'Peter'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2c'), 'name': 'Amy'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2d'), 'name': 'Hannah'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2e'), 'name': 'Michael'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2f'), 'name': 'Sandy'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c30'), 'name': 'Betty'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c31'), 'name': 'Richard'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c32'), 'name': 'Susan'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c33'), 'name': 'Vicky'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c34'), 'name': 'Ben'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c35'), 'name': 'William'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c36'), 'name': 'Chuck'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c37'), 'name': 'Viola'}

In [33]:
#You get an error if you specify both 0 and 1 values in 
#the same object (except if one of the fields is the _id field):
for x in mycol.find({},{ "name": 1, "address": 0 }):
    print(x)

OperationFailure: Projection cannot have a mix of inclusion and exclusion.

In [34]:
#Find document(s) with the address "Park Lane 38":
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5bf0eb5415d8825ac3eb9c34'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [35]:
#Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c31'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c33'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c37'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [36]:
#Find documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5bf0eb5415d8825ac3eb9c31'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c37'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [37]:
#Sort the result alphabetically by name:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c34'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c30'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c36'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bf0eaca15d8825ac3eb9c28'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5315d8825ac3eb9c2a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5befdfbe15d882727bcc31df'), 'name': 'Minnie', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c31'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c32'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c33'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c37'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c35'), 'name': 'William', 'address': 'Central st 954'}

In [38]:
#Sort the result reverse alphabetically by name:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5bf0eb5415d8825ac3eb9c35'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c37'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c33'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c32'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c31'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5befdfbe15d882727bcc31df'), 'name': 'Minnie', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bf0eaca15d8825ac3eb9c28'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5315d8825ac3eb9c2a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c36'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c30'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c34'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bf0eb5415d8825ac3eb9c2c'), 'name': 'Amy', 'address': 'Apple st 652'}

In [40]:
#Delete the document with the address "Mountain 21":
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [41]:
#To delete more than one document, use the delete_many() method.
#Delete all documents were the address starts with the letter S:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [42]:
#Delete all documents in the "customers" collection:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

13  documents deleted.

In [61]:
#Delete the "customers" collection:
mycol = mydb["customers"]

mycol.drop()

In [44]:
#Change the address from "Valley 37" to "Highway 37":
#You can update a record, or document as it is called in MongoDB, by using the update_one() method.

mycol = mydb["customers"]


myquery = { "address": "Valley 37" }
newvalues = { "$set": { "address": "Highway 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

In [10]:
myquery = { "address": { "$regex": "^H" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [12]:
#Insert a record in the "customers" collection:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)
x = mycol.find_one()

print(x)

{'_id': ObjectId('5befdf9f15d882727bcc31de'), 'name': 'Minnie', 'address': 'Highway 37'}

In [17]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5befdfbe15d882727bcc31df'), 'name': 'Minnie', 'address': 'Highway 37'}
{'_id': ObjectId('5bf0eaca15d8825ac3eb9c28'), 'name': 'John', 'address': 'Highway 37'}